#forsidebillede{
    width: 100%;
}

body{
    background-color: #E4DFC2;
    font-family: 'albert sans';
    line-height: 2.5;
    text-align: center;
}

h1{
    font-size: 50px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
}

h2{
    font-size: 20px;
    font-weight: 550;
}

.velkommen{
    border: 2px solid black;
    padding: 50px;
    margin: 50px;
    display: inline-block;
    width: 65%;
}

.container {
    display: flex;
    justify-content: center; /* Centrerer kortene */
    gap: 40px; /* Afstand mellem kortene */
    padding: 20px;
}

.card img {
    display: flex;
    justify-content: center;
}

.card p {
    background-color: #EC8A8A;
    padding: 10px;
}


.sparetips {
    margin-top: 200px; /* Skab afstand over sektionen */
    margin-bottom: 200px; /* Skab afstand under sektionen */
    text-align: center; /* Centrer indholdet */
    display: flex; /* Brug flexbox til centrering */
    flex-direction: column; /* Placer billedet og teksten i en lodret retning */
    justify-content: center; /* Centrer indholdet vertikalt */
    align-items: center; /* Centrer indholdet horisontalt */
}



.sparetips img {
    width: 900px; /* Fyld hele kortets bredde */
    height: auto; /* Bevar billedets proportioner */
    object-fit: cover; /* Sørg for, at billedet beskæres korrekt */

}

.sparetips p {
    font-size: 18px; 
    margin: 0; 
    position: absolute;
}


footer{
    background-color: #B1C4C0;
    padding: 20px;
    font-family: 'albert sans';
    width: 100%;
    text-align: center;
}


