* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#forsidebillede img{
    width: 100%;
    height: auto;
    display: block;
}

body{
    background-color: #E4DFC2;
    font-family: 'albert sans';
    line-height: 2.5;
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 50px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
}

h2{
    font-size: 20px;
    font-weight: 550;
}

.velkommen{
    border: 2px solid black;
    padding: 50px;
    margin-top: 60px;
    display: inline-block;
    width: 65%;
}

.container {
    margin-top: 20px;
    display: flex;
    justify-content: center; 
    gap: 60px; 
}

.card img {
    display: flex;
    justify-content: center;
}

.card p {
    background-color: #EC8A8A;
    padding: 20px;
}

.card p:hover {
    color: #ece8e0;
} 

.sparetips {
    position: relative;
    display: inline-block; 
    text-align: center;
    margin-top: 20px;
}

.overlay {
    position: absolute;
    top: 50%; 
    left: 60%;
    transform: translate(-50%, -50%); 
    color: rgb(0, 0, 0); 
}

.overlay h2 {
    font-weight: bolder;
}

.overlay p {
    white-space: nowrap; 
    padding-bottom: 10px;
}

.button {
    background-color: #EC8A8A;
    padding: 10px;
}

.button:hover {
    color: #ece8e0;
}

.logo {
    padding-top: 10px;
}

