*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #E4DFC2;
    font-family: 'albert sans';
    text-align: center;
    display: flex;
    flex-direction: column;
}

p {
    font-size: 21px;
    color: #000000;
    margin-bottom: 20px;
}

h3 {
    font-size: 30px;
    color: #000000;
    font-style: bold;
    margin-bottom: 10px;
}

.topbillede {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}

.velkomst {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

h2 {
    font-size: 45px;
    font-style: bold;
    margin-bottom: 20px;
}

.container {
    margin-top: 20px;
    display: flex;
    justify-content: center; 
    gap: 60px; 

}

.card img {
    display: flex;
    justify-content: center;
}

.card p {
    background-color: #EC8A8A;
    padding: 20px;
}

.card p:hover {
    color: #ece8e0;
} 