* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #E4DFC2;
    font-family: 'albert sans';
}

p {
    font-size: 21px;
    color: #000000;
    margin-bottom: 20px;
}

h3 {
    font-size: 30px;
    color: #000000;
    font-style: bold;
    margin-bottom: 10px;
}

.topbillede {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}

.velkomst {
    text-align: center;
    padding-top: 80px;
}